# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.pdf
*.pyc
*.so

# LaTeX files #
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.toc

# Local preferences #
workspace.xml

# Logs and databases #
*.log
*.sql
*.sqlite

# OS generatee files #
.DS_Store
.DS_store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Packages #
# unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Profile files #
*.profile

# PyCharm files #
*.idea
.idea/tasks
.idea/workspace.xml

# Sphinx files #
python/docs/_build/*
python/docs/_static/*
python/docs/_templates/*

# Swap files #
*.swp
